html, body {
    margin: 0; 
    height: 100%;
    background-color: #3a3a3a;
    font-size: 64px;
    font-family: 'JetBrains Mono', monospace;
    color: #f1f1f1;
}

button {
    height: 90%;
    width: 90%;
    border-radius: 10%;
    font-size: 24px;
    color: #f1f1f1;
    background-color: #6b6b6b;
    font-family: 'JetBrains Mono', monospace;
}

button:hover {
    background-color: #c2c2c2;
    transform: scale(1.1);
}

button:focus {
    outline: 0;
}

.row {
    display: flex;
    flex: 1;
    align-content: center;
    justify-content: center;
    flex-direction: row;
}

.btn-cont {
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: stretch;
}

.btn-op {
    background-color: #5dc21e;
}

.btn-op:hover {
    background-color: #107c10;
}

#calc-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75vh;
    width: 25vw;
    align-items: stretch;
    background-color: #000000;
    border-radius: 2%;
}

#display {
    display: flex;
    height: 15%;
    margin: 5px;
    align-self: flex-end;
    align-items: flex-end;
    font-size: 80%;
}
